@model Hafta07_01WordMaster.Models.WordDefinitionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WordDefinitionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="frmCreate" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Id > 0)
            {
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input readonly asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Word" class="control-label"></label>
                <input asp-for="Word" class="form-control" />
                <span asp-validation-for="Word" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <input asp-for="LanguageId" class="form-control" />
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="Yas" class="control-label"></label>
            <input asp-for="Yas" class="form-control" />
            <span asp-validation-for="Yas" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
                @*  <input type="button" onclick="return submitMyForm()" value="Kaydet" class="btn btn-primary" />*@
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <div>
            <input type="text" id="WordMeaning" />

            <input class="btn btn-success" type="button" onclick="postMeaning()" value="Kaydet" />
        </div>
        <div class="row">
            <div id="detaylarDiv" class="col-md-10">
                
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

     $(document).ready(function () {
        // loadDetail();
         loadByLoad();
        // $('#detaylarDiv').html("buraya detaylar gelecek");
     });

     function loadByLoad() {
         $('#detaylarDiv').load('/WordMeaning/ListMeaningsByDefId', { "defId":@Model.Id}, function (res) {
             console.log("işlem tamamlandı");
         })
     }

     function loadDetail() {

         $.ajax({
             url: "/WordMeaning/ListMeaningsByDefId",
             data: { defId:@Model.Id},
             success: function (res) {
                 console.log(res);
                 $('#detaylarDiv').html(res);
                 console.log("success function çalışıt");
             },
           //  dataType: "JSON"
         });

     }

    function postMeaning() {

        var params = {
            Meaning: $('#WordMeaning').val(),
            WordDefId:'@Model.Id'
        };

        console.log(params);

        $.ajax({
            type:"POST",
              url: "/WordMeaning/AddMeaning",
              data:params,
             success: function (res) {
                 if (res == true) {
                     loadByLoad();
                 }
             },
           //  dataType: "JSON"
         });
    }

    function DeleteMeaning(itTodelete) {

        $.ajax({
            type: "POST",
            url: "/WordMeaning/DeleteMeaning",
            data: { id:itTodelete},
            success: function (res) {
                if (res == true) {
                    loadByLoad();
                }
            },
            //  dataType: "JSON"
        });

    }


    //ilkel validaiton
     //function validate() {
     //    if ($("#Word").val() == "") {
     //        alert("kelime boş olamaz");
     //        return false;
     //    }
     //    else {
     //        return true;
     //    }
     //}

     //function submitMyForm() {
     //    if ($("#Word").val() == "") {
     //        alert("Kelime boş olamaz");
     //        return;
     //    }
     //    else {
     //        $('#frmCreate').submit();
     //    }
     //}

</script>

}
